* {
  margin:0;
  padding:0;
  border: none;
}

body {
  background: #1E293B;
  color: #8C9AB1;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #F5835F;
}

nav {
  width: 100%;
}
nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 1em;
}

nav a {
  color: #F5835F;
}

nav a:hover {
  color: #fff;
}

a {
  color: #fff;
  text-decoration:none;
}

footer {
  position: fixed;
  bottom: 0;
  width:100%;
  text-align:center;
}

.mfe-info {
  margin: 5em auto;
  text-align:left;
  width: 40vw;
}

.list li {
  list-style: none;
}
.list a {
  cursor: pointer;
  padding:0.5em 1em;
  display: block;
  text-align:left;
}

.list a:hover {
  background: var(--color-burnt-ember);
}

.list a.active {
  background: var(--color-white);
  color: var(--color-ember);
}

.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.left-panel {
}

.right-panel {
  padding: 1em;
  background: var(--color-white);
  color: var(--color-ember);
  text-align: left;
}

.right-panel a {
  color: var(--color-ember);
}

table td {
  padding: .5em;
}

table tr td:nth-child(1) {
  font-weight: bold;
  color: var(--color-burnt-ember);
}

table tr::odd {
  background: var(--color-burnt-ember);
}

table tr:even {
  background: var(--color-ember);
}

table a {
  text-decoration: underline;
  cursor: pointer;
  padding:.25em;
}
